body{
  font-family: sans-serif;
}
.home-container {
  padding: 100px 50px 50px; /* top padding leaves space below navbar */
background: linear-gradient(135deg, #bae6fd, #d9f99d);
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section{
  height: 120px;
  margin-bottom: 40px;
  padding: 20px 90px;
   background-color: white;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     border-radius: 12px;
}

.hero-section h1 {
  font-size: 2.2rem;
  color: #0f172a;
  margin-bottom: 10px;

}

.hero-section p {
  color: #475569;
  font-size: 1.1rem;
  margin-bottom: 50px;

}

/* Cards layout */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

/* Individual card */
.home-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Headings inside card */
.home-card h2 {
  color: #0f172a;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.home-card h4 {
  color: #64748b;
  font-size: 1rem;
  margin-bottom: 20px;
}

.home-btn {
  text-decoration: none;
  background-color: #38bdf8;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  background-color: #0ea5e9;
}
