
.form.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  font-family: "Poppins", Arial, sans-serif;
  height: fit-content;
}


.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field label,
.form.container > label ,
.description > label ,
.image > label {
  margin-top: 14px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.image > input{
  margin-top: 10px;

}

.field input,
.field select {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 6px;
  font-size: 14px;
  transition: 0.2s ease;
}

.form.container textarea,
.form.container input[type="file"]{
      width: 95%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin: 6px;
  font-size: 14px;
  transition: 0.2s ease;

}
.field input:focus,
.field select:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.2);
}

.form.container textarea {
  min-height: 120px;
  resize: vertical;
}


.form.container button {
  width: 100%;
  padding: 11px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form.container button:hover {
  background: #0056b3;
}


@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
